---
import BaseLayout from "../layouts/BaseLayout.astro";
import { siteTitle } from "../site.config.mjs";
---

<BaseLayout title={siteTitle("About")}>
  <article class="about-page">
    <h1>About</h1>
    <div class="prose">
      <p>
        A prope-personal-website, sans the usual function of identifying the author.
        A collage for my various interests -- primarily logic, computation, and
        philosophy. In no particular order, I may post about --
      </p>
      <ol>
        <li>
          <p>
            Epistemology, metaphysics, and semantics from both the analytic and
            continental traditions,
          </p>
        </li>
        <li>
          <p>
            Type theory and adjacent approaches broadly in the "syntactic" tradition
            of logic,
          </p>
        </li>
        <li>
          <p>
            and formal semantics of programming languages, including approaches from both the
            "syntactic" and "algebraic" traditions (to borrow Girard's language).
          </p>
        </li>
      </ol>
      <p>
        I have used AI to generate the initial scaffold for the website and will probably
        continue to use AI to iterate on the design, as I have a piddling skill with CSS.
        However, all the content on the website is written in the main by me (though it
        may be subjected to minor revisions at the behest of other people or AI) and,
        more importantly, reflects my genuine interests as a human being.
      </p>
    </div>
  </article>
</BaseLayout>
